<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="room-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="create_or_join">
  
    <%= label f, :room_code %>
    <%= text_input f, :room_code %>
    <%= error_tag f, :room_code %>
  
    <div>
      <%= submit "create or join", phx_disable_with: "Joining..." %>
    </div>
  </.form>
</div>
