<div class={"rounded-full #{@bg_color} #{@border_color} #{@mx_class} border-2 h-14 w-14 text-center flex flex-col"}>
    <span class="my-auto mx-auto text-3xl"><%= String.upcase(String.first(@player.name)) %></span>
</div>