<div>
  <.form
    let={f}
    for={@changeset}
    id="definition-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :definition %>
    <%= textarea f, :definition %>
    <%= error_tag f, :definition %>
    
    <div>
      <%= submit "Submit", phx_disable_with: "Joining..." %>
    </div>
  </.form>
</div>
